<div class='pagewrap'>
<div class="row">

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <fieldset class="email_center">
    <div><%= f.label :email %>
    <%= f.email_field :email, :autofocus => true %></div>

    <% if @organizer.password_required? %>
    	<div><%= f.label :password %>
    	<%= f.password_field :password %></div>

    <div><%= f.label :password_confirmation %>
    	<%= f.password_field :password_confirmation %></div>
    <% end %>

    <div><%= f.button "Sign up" %></div>
  <% end %>


  </div>
</div>
 </fieldset>