<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Invitaion Emal</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 5px solid #cccccc; border-collapse: collapse; border-radius: 5px">

 <tr>
  <td bgcolor="#04B431"style="padding: 40px 30px 40px 30px;">
   <table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
   <td style="padding: 20px 80px 30px 80px; color: #ffffff; font-family: Arial, sans-serif; font-size: 40px; text-align: center">
   <table>
   <tr>
   <td style="letter-spacing:4px; text-align: center">
    You Are Invited
    </td>
    </tr> 
    <tr>
    <td> 
    <%= @participant.event.name %>
    <tr>
    <td>
    </table>
   </td>
  </tr>
  <tr>
   <td style="padding: 20px 80px 30px 80px; color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;text-align: center">
   <table>
   <tr>
   <td style="letter-spacing:4px">
     ~ Details of the Event ~
    </td>
    </tr> 
    <tr>
    <td font-size: 10px> 
     <%= @participant.event.description %>
    <tr>
    <td>
    </table>
   </td>
  </tr>
  <tr>
   <td style="padding: 20px 80px 30px 80px; color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;text-align: center">
       <table>
   <tr>
   <td style="letter-spacing:4px">
     ~ Host Email ~
    </td>
    </tr> 
    <tr>
    <td font-size: 10px> 
     <%= @participant.event.organizer.email %>
    <tr>
    <td>
    </table>
   </td>
  </tr>
  <tr>
   <td style="padding: 20px 80px 30px 80px; color: #ffffff; font-family: Arial, sans-serif; font-size: 14px; text-align: center">
       <table>
		   <tr>
		   <td style="letter-spacing:4px" >
		       ~ RVSP by ~ 
		    </td>
		    </tr> 
		    <tr>
		    <td font-size: 10px> 
		      <%= nice_date @participant.event.deadline %>
		    <tr>
		    <td>
		    </table>
     </td>
   <tr>
   <td style="padding: 20px 80px 30px 80px; color: #ffffff; font-family: Arial, sans-serif; font-size: 30px;text-align: center">
        <table cellspacing="0" cellpadding="0"> <tr> 
           <td align="center" width="300" height="40" bgcolor="#04B431" >

            <%= button_to "View Invitation", participant_token_url(@event, @participant.token), :method => "get", :style => "-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background-color: #04B431; color: #ffffff; display: block; font-size:16px; font-weight: bold; font-family: Helvetica, Arial, sans-serif; text-decoration: none; line-height:40px; width:100%; display:inline-block"%>
           </td> 
           </tr> 
        </table> 
 </td>
 </table>
</td>
</tr>
 <tr>
   <td bgcolor="#ffffff" style="padding: 30px 30px 30px 30px;">
     <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
      <td align="left">
         <table border="0" cellpadding="0" cellspacing="0">
         <tr>
           <td>
             <a href="http://www.setitforget.it">
             	<%= image_tag("setforget-onwhite.png", style: "display: block;", border: "0", alt: "logo") %>
             </a>
             </td>
         </tr>
         <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
         <td style="padding: 20px 0 0 0; color: #848484; font-family: Arial, sans-serif; font-size: 14px;">
         &reg; SetItForget.it 2013<br/>
         <a href="#" style="color: #70bbd9;"><font color="#848484">Privacy Policy</font></a> 
         </td>
  
  </td>
  </tr>
 </table>
  
   <td align="right">
 <table border="0" cellpadding="0" cellspacing="0">
  <tr>
   <td>
    <a href="http://www.twitter.com/">
    	<%= image_tag("twitter.png", style: "display: block;", border: "0", alt: "Twitter", width: "38", height: "38" ) %>
    </a>
   </td>
   <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
  </tr>
 </table>
 </td>
 </tr>
</table>
  </td>
 </tr>
 
</table>
</html>