<div class="row">
	<h3>Welcome, <%= @organizer.email %></h3>
</div>

<div class="row">
	<div class="large-6 columns">
		<h5>Your events:</h5>
	</div>
	<div class="large-6 columns"><%= link_to "Create event", new_event_path, class: "button radius" %>
	</div>
</div>

	<div class="row">
	<% @organizer.events.each do |event| %>
		
			<div id="event_listing" class="large-3 columns">
				<div class="hovering">					
					<h4><%= link_to "#{event.name}", event_path(event) %></h4>
					<%= link_to event_path(event) do %>
						<%= image_tag event.image.url(:thumb), class: 'event_image' %>
					<% end %>
				</div>

	      		<div class="togglebox">
					<div class="content">
					<ul class="no-bullet">
						<li><%= event.description %></li>
					
						<li>Response deadline: <%= nice_date event.deadline %></li>

						<li>Event date: <%= nice_date event.event_date %></li>
				        
				<!--Content Here-->
					</div>
				</div>

			</div>
	<% end %>
	</div>

