

<%= form_for @event, html: {multipart: true } do |e| %>
<div class="row">
	<div class="large-6 columns">
		<%= e.label :name %>
		<%= e.text_field :name %>
	</div>
	<div class="large-6 columns">
		<%= e.label :description %>
		<%= e.text_field :description %>
	</div>
</div>
<div class="row">
	<div class="large-3 columns">
		<%= e.label :deadline %>
		<%= e.datetime_select :deadline, :order => [:day, :month, :year, :hour, :minute] %>
	</div>
	<div class="large-3 columns">
		<%= e.label :link %>
		<%= e.text_field :link %>
	</div>
	<div class-"large-2 columns">
		<%= e.label :image %>
		<%= e.file_field :image, class: "button secondary" %>
		<%= e.hidden_field :organizer_id, value: current_organizer.id %>
	</div>
</div>

<div class-"row">
	<%= e.label :participant_emails %>
	<%= e.text_field :participant_emails, id: "email_input", placeholder: "Enter your email" %>
</div>
	
	<%= e.submit id:'event_form_submit', class: "button" %>
<% end %>
