

<%= form_for @event, html: {multipart: true } do |e| %>
<div class="large-8 columns">
	<fieldset>
		<div class="row">
			<div class="large-4 columns">
				<%= e.label :name %>
				<%= e.text_field :name, :required => true%>
			</div>

		    <div class="large-4 columns">
				<%= e.label :deadline %>
				<%= e.text_field :deadline, class: "datetimepicker", :required => true %>
			</div>

			<div class="large-4 columns">
				<%= e.label :event_date %>
				<%= e.text_field :event_date, class: "datetimepicker", :required => true %>
			</div>
			
		</div>

			
		<div class="row">
			<div class="large-6 columns">
				<%= e.label :link %>
				<%= e.text_field :link  %>
			</div>

			 <div class-"large-6 columns">
				<%= e.label :image %>
				<%= e.file_field :image, class: "button secondary" %>
				<%= e.hidden_field :organizer_id, value: current_organizer.id %>
			</div>

		</div>

		<div class="row">
			<div class="large-12 columns">
				<%= e.label :description %>
				<%= e.text_area :description%>
			</div>

		</div>

		<div class="row">
			<div class="large-12 columns">
				<%= e.label :amount %>
				<%= e.text_field :amount%>
			</div>
		</div>

		<% if @edit %>
			<div class="row">
				<div class="large-12 columns">
					<h5>Current Invitees</h5>
					<ul class="no-bullet">
						<% @event.participants.each do |f| %>
							<li><%= f.email %> | <%= f.response %></li>
						<% end %>
					</ul>
				</div>
			</div>
		<% end %>

		<div class="row">
		    <div class="large-12 columns">
			<%= e.label :participant_emails %>
			<%= e.text_field :participant_emails, id: "email_input", placeholder: "Enter your email" %>
			</div>
		</div>

		<div class="row">
			<div class="large-12 columns">
				<%= e.submit id:'event_form_submit', class: "button" %>
			</div>
		</div>
		
	</fieldset>

</div>	

<% end %>

