<div class="pagewrap" >
<div class="row">
		
	
	<fieldset>
	<div class="large-12 columns">
		<h3 ><%= @event.name %></h3>
	</div>
	<div class="small-6 columns">
		<p>Deadline:
		<span><%= nice_date @event.deadline %></span></p>
		<div id="timer" data-ends-at="<%= @event.deadline %>"></div>
		<p>Event Date:
		<span><%= nice_date @event.event_date %></span></p>

		<p class="panel"><%= @event.description %></p>

		<p>Link: <%= link_to @event.link %></p>
	</div>
	<div class="small-6 columns">
		<%= image_tag @event.image.url(:medium), class: 'event_image' %>
	</div> 
	

	<div class="large-12 columns">
		<%if @token %>
			<%= render "shared/edit_participant_response" %>
		<% end %>
	</div>

	<div id="response" class="large-6 columns">
		<h5>Your Invitees</h5>
		<ul class="no-bullet">
			<span class="Invite_Status">Going</span>
			<% @participants.each do |f| %>
			
				<% if f.response == "Yes" %>
				
				<li class="li_email"><%= f.email %></li>

				<% end %>
			<% end %>
		</ul>


		<ul class="no-bullet">
			<span class="Invite_Status">Not Going</span>
			<% @participants.each do |f| %>
			
				<% if f.response == "No" %>
				
				<li class="li_email"><%= f.email %></li>

				<% end %>
			<% end %>
		</ul>

		<ul class="no-bullet">
			<span class="Invite_Status">Maybe</span>
			<% @participants.each do |f| %>
			
				<% if f.response == "Maybe" %>
				
				<li class="li_email"><%= f.email %></li>

				<% end %>
			<% end %>
		</ul>

		<ul class="no-bullet">			
			<span class="Invite_Status">Waiting for response</span>
			<% @participants.each do |f| %>
			
				<% unless ['Yes', 'No', "Maybe"].include?(f.response) %>
				
				<li class="li_email"><%= f.email %></li>

				<% end %>
			<% end %>
		</ul>

	</div>

	<div class="small-6 columns">
		<% if current_organizer == @event.organizer %>
			<p><%= link_to "Edit event", edit_event_path(@event),class: "button radius" %></p>
			<p><%= button_to "Delete Event", @event, class: "button radius",:method=>:delete, data: {confirm: 'Are you sure?'} %></p>
		<% end %>
	</div>
	</fieldset>

</div>
</div>