<div class="pagewrap" >

	<div class="row">	
	<fieldset>
	<div class="large-12 columns">
		<h3 ><%= @event.name %></h3>
	</div>

	<div class="row">

		<div class="large-6 columns">
           <div class = "panel">
			<p><h5>Your RSVP is due :</h5>
				<h5><%= nice_date @event.deadline %></h5></p>
			<div id="timer" data-ends-at="<%= iso8601_date @event.deadline %>"></div>
		   </div> 
		    <hr>

	        <div>
	        	<p><h6>Event Date:</h6>
				<span><%= nice_date @event.event_date %></span></p>
				<p><%= @event.description %></p>
				<p>Link: <%= link_to @event.link, format_link(@event.link) %></p>
				<p><h6>Amount:</h6>
                 <span><%= nice_price @event.amount %></span></p> 
		    </div>

		   
  
		 	<div>
				<% if current_organizer == @event.organizer %>
				<a class="inline_button"><%= link_to "Edit event", edit_event_path(@event),class: "button radius" %></a>
				<span><a class="inline_button"><%= button_to "Delete Event", @event, class: "button radius",:method=>:delete, data: {confirm: 'Are you sure?'} %></a></span>

				<% end %>
			</div>

    	</div>


   		<div class="large-6 columns">


			<div class="th">
				<%= image_tag @event.image.url(:medium), class: 'event_image' %>
			</div> 
			<hr>
	         <%if @token %>
				<%= render "shared/edit_participant_response" %>
			<% end %>
            <% if current_organizer == @event.organizer %>
			<div id="response">
			<h6>Your Invitees</h6>
			<div class = "section-container accordion" data-section="accordion">
				<section class="section">
					<p class="title">
						<a href="#panel1">Going
						(<%= @participants.where(response: "Yes").count %>)
						</a>
					</p>
					<div class="content" data-slug="panel1">
					  <p>
					  	<% @participants.each do |f| %>
				           <% if f.response == "Yes" %>

				           <li class="li_email"><span class="payment_status"><%= image_tag("Tick.png") if f.paid == false %></span>  <%= f.email %></li>
				       
					    <% end %>
				        <% end %>
					  </p>	
					 </div>
				</secion>
				<section class="section">
					<p class="title">
						<a href="#panel1">Not Going
						(<%= @participants.where(response: "No").count %>)
						</a>
					</p>
					<div class="content" data-slug="panel1">
					  <p>
					  	<% @participants.each do |f| %>
				           <% if f.response == "No" %>
					       <li class="li_email"><%= f.email %></li>
					    <% end %>
				        <% end %>
					  </p>	
					 </div>
				</secion>		
				
				<section class="section">
					<p class="title">
						<a href="#panel1">Waiting to response
						(<%= @participants.where(response: nil).count %>)
						</a>
					</p>
					<div class="content" data-slug="panel1">
					  <% @participants.each do |f| %>
				        <% unless ['Yes', 'No', "Maybe"].include?(f.response) %>
					    <li class="li_email"><%= f.email %></li>
                        <% end %>
				      <% end %>
					</div>
				</secion>
 
			</div>		
            <%end%>

        </div>

	  </div>               
	</fieldset>

</div>
</div>