<h1><%= @event.name %></h1>
<h3><%= @event.description %></h3>
<h3><%= @event.deadline %></h3>


<h3>Participants</h3>

<ul><% @event.participants.each do |f| %>
	
	<%= content_tag :li, f.email %>
	<%= content_tag :li, f.first_name + " " + f.last_name %>
	<%= content_tag :li, f.response, :"data-id" => f.id %>

	<% end %>
</ul>

<h3><%= @event.link %></h3>
<h3><%= image_tag @event.image.url(:thumb), class: 'event_image' %></h3>

<% if current_organizer == @event.organizer %>
	<p><%= link_to "Edit event", edit_event_path(@event) %></p>
	<p><%= button_to "Delete Event", @event, :method=>:delete, data: {confirm: 'Are you sure?'} %></p>
<% end %>
