<div class="homepage">
	<div class="row homefirst">
		<div class="large-12 columns">
			<ul data-orbit>
				<li id="landing_bootcamp2">
	            	<div class="orbit-caption">Trainers focus on your pressups, pullups and military fitness in the park. We'll get you paid.</div>
	            </li>
	            <li id="landing_lecture">
	            	<div class="orbit-caption">Lecturers work on your speech. We'll sort out the audience and your speaking fees.</div>
	            </li>
	            <li id="landing_music">
	            	<div class="orbit-caption">Music teachers spend some extra time with the kids. We'll keep track of your regulars.</div>
	            </li>
	            <li id="landing_truck">
	            	<div class="orbit-caption">Food truck(ers) save a burrito for us. We'll email the others so you receive payment before you roll up.</div>
	            </li>
	            <li id="landing_wine">
	            	<div class="orbit-caption">Pop-up supper club(ers) - set a guest list and forget it. We'll do the rest.</div>
	            </li>
	            <li id="landing_yoga">
	            	<div class="orbit-caption">Yogis focus on your vinyasa, ashtanga and hatha. We'll coordinate your disciples. Namaste.</div>
	            </li>
	        </ul>
	        
	        <div id="under-orbit">
	    		<a href="/events/new" class="large button radius">Create events & get paid!</a>
			</div>

			<div class="orbit-timer">
			    <span></span>
			    <div class="orbit-progress" style="width: 100%; -webkit-transition: width 5s linear;">
			    </div>
			</div>

	    </div>
	    <div class="large-12 columns">
	    	
	    </div>
	</div>
	<div class="row homesecond" >

		<div class="large-1 columns">
		</div>

		<!-- <div class="large-2 columns">
			<%= image_tag("landing_calendar.png")  %>
		</div>

		<div class="large-2 columns arrow">
			<%= image_tag("4arrow.png")  %>
		</div>

		<div class="large-2 columns">
			<%= image_tag("landing_envelope.png")  %>
		</div>

		<div class="large-2 columns arrow">
			<%= image_tag("4arrow.png")  %>
		</div>

		<div class="large-2 columns">
			<%= image_tag("landing_gbp.png")  %>
		</div>

		<div class="large-1 columns">
		</div> -->
	</div>
</div>

<!-- <div class="row homesecond" >
	<div class="large-12 columns center">
		<h5>Secure. Easy. Fun. </h5>
	</div>
</div> -->


<%= render "/layouts/footer" %>

</div>

				



	           



