<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
  	<title><%= content_for?(:title) ? yield(:title) : "SetForget.it" %></title>
  	<%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>


  <body>
    <div id="feedback"> <!-- thanks to Alex Peattie for this -->
      <a href="/feedback_url/">feedback</a>
    </div>
    
  <!--   <div class="contain-to-grid"> -->
    
    <nav class="top-bar">
      <ul class="title-area">
          <!-- Title Area -->
          <li class="name"><h1><a href="/"><%= image_tag("setforget-resize.png")  %></a></h1></li>

          <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
       </ul>
    
      <section class="top-bar-section">         
         <ul class="left">
          </ul>
          <!-- Right Nav Section -->
          <ul class="right">
             
            <% if current_organizer %>
               <!-- authentications path removed. DW & Vinay -->
                <li><%= link_to "Create New Event", new_event_path %></li>
                
                <li><%= link_to "View my Events", organizer_path(current_organizer)%></li>
                
                <li><%= link_to "Sign out", destroy_organizer_session_path %></li>
                
                <li id="loggedin"><a href="/" >Logged in as: <%= current_organizer.email %></a></li>

            <% else %>
              <li><%= link_to "Sign up", new_organizer_registration_path %></li>
              
              <li><%= link_to "Sign in", new_organizer_session_path %></li>
              
              <li>
                <li><%= link_to image_tag("twitter.png"), organizer_omniauth_authorize_path(:twitter), id: "twitter"  %></li>

                

                <li class="divider"></li>

            <% end %>

          </ul>
      </section>
    </nav>

      <div id="flash-container">     
        <div id="notice"><%= notice || flash[:error] %></div>
        
        <div id="alert"><%= alert %></div>
      </div>    
     

   <!--  </div> -->

    <div class='container'>
      <%= yield %>
    </div>

    <%= javascript_include_tag "application" %>
    
  </body>
</html>
