<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "SetForget.it" %></title>
    <link rel="stylesheet" href="path/to/windowed.min.css">
  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>


  <body>
    <% if current_organizer %>
        Logged in as <%= current_organizer.email %>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <p class="antialiased off-canvas hide-extras">
      <nav class="top-bar hide-for-small" style="">
        <ul class="title-area">
          <!-- Title Area -->
          <li class="name">
            <h1><a href="/">SetForget.it</a></h1>
          </li>
          <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>


        <section class="top-bar-section">
                <!-- Right Nav Section -->
                <ul class="right">
                  <li class="divider"></li>
                  <% if current_organizer %>
                    Logged in as <strong><%= current_organizer.email %></strong>
                    <!-- authentications path removed. DW & Vinay -->
                    <li><%= link_to "Sign out", destroy_organizer_session_path %></li>
                  <% else %>
                    <li><%= link_to "Sign up", new_organizer_registration_path %></li>
                    <li class="divider"></li>
                    <li><%= link_to "Sign in", new_organizer_session_path %></li>
                    <li class="divider"></li>
                    <li><%= link_to "Twitter", organizer_omniauth_authorize_path(:twitter) %></li>
                    <li class="divider"></li>
                    <li><%= link_to "Facebook", organizer_omniauth_authorize_path(:facebook) %></li>
                  <% end %>
                    <li class="divider"></li>
                </ul>
        </section>
      </nav>

    <%= yield %>

    
    
    <script src='jquery.js'></script>
    <script src='/path/to/jquery.windowed.min.js'></script>
  </body>
</html>
